<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Professore - PEF Roma Tre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="blue lighten-5">
    <nav class="blue">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">
                <img src="/static/foto/logoromatre.png" alt="Logo Roma Tre" style="height: 50px; vertical-align: middle;">
                Area Professore
            </a>
            <ul class="right">
                <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row" style="margin-top: 2rem;">
            <div class="col s12">
                <h4>Benvenuto, Prof. {{ current_user.nome }} {{ current_user.cognome }}</h4>
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="card-panel {{ 'green' if category == 'success' else 'red' }} lighten-4">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Le Tue Lezioni</span>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Nome Lezione</th>
                                    <th>Data</th>
                                    <th>Orario</th>
                                    <th>Classe</th>
                                    <th>Durata</th>
                                    <th>CFU</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lezione in lezioni %}
                                <tr>
                                    <td>{{ lezione.nome_lezione }}</td>
                                    <td>{{ lezione.data }}</td>
                                    <td>{{ lezione.orario_inizio }} - {{ lezione.orario_fine }}</td>
                                    <td>{{ lezione.classe.nome_classe }}</td>
                                    <td>{{ lezione.durata }}</td>
                                    <td>{{ lezione.cfu }}</td>
                                    <td>
                                        <a href="/edit_lezione/{{ lezione.id_lezione }}" class="btn-small blue">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a href="/add_lezione" class="btn blue waves-effect waves-light">
                            <i class="material-icons left">add</i>Nuova Lezione
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Riepilogo Attività</span>
                        <div class="row">
                            <div class="col s12 m4">
                                <div class="card-panel center">
                                    <i class="material-icons large">event</i>
                                    <h5>{{ numero_lezioni }}</h5>
                                    <p>Lezioni Totali</p>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card-panel center">
                                    <i class="material-icons large">access_time</i>
                                    <h5>{{ ore_totali }}</h5>
                                    <p>Ore di Lezione</p>
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="card-panel center">
                                    <i class="material-icons large">school</i>
                                    <h5>{{ cfu_totali }}</h5>
                                    <p>CFU Erogati</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Informazioni Personali</span>
                        <div class="row">
                            <div class="col s12 m6">
                                <p><strong>Dipartimento:</strong> {{ current_user.dipartimento }}</p>
                                <p><strong>Email:</strong> {{ current_user.email }}</p>
                            </div>
                            <div class="col s12 m6">
                                <p><strong>SSD:</strong> {{ current_user.ssd }}</p>
                                <p><strong>Telefono:</strong> {{ current_user.telefono }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>