{% extends "base.html" %}

{% block title %}Modifica Scuola{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center">Modifica Scuola</h3>
            <div class="card">
                <div class="card-content">
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="nome_scuola" name="nome_scuola" type="text" class="validate" required value="{{ scuola.nome_scuola }}">
                                <label for="nome_scuola">Nome Scuola</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="indirizzo" name="indirizzo" type="text" class="validate" value="{{ scuola.indirizzo }}">
                                <label for="indirizzo">Indirizzo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="referente" name="referente" type="text" class="validate" value="{{ scuola.referente }}">
                                <label for="referente">Referente</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="email_referente" name="email_referente" type="email" class="validate" value="{{ scuola.email_referente }}">
                                <label for="email_referente">Email Referente</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href="{{ url_for('scuole_accreditate') }}" class="btn grey">
                                    <i class="material-icons left">arrow_back</i>Indietro
                                </a>
                                <button class="btn blue waves-effect waves-light" type="submit">
                                    <i class="material-icons left">save</i>Salva Modifiche
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Attiva le label dei campi con valori pre-popolati
    M.updateTextFields();
});
</script>
{% endblock %}