{% extends "base.html" %}

{% block title %}Segreteria{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="center">Gestione Segreterie</h3>

        <div class="row" style="max-width: 1200px; margin: 2rem auto;">
            <!-- Sezione Didattica -->
            <div class="col s12 m6">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title center-align"><i class="material-icons">school</i> Didattica</span>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col s12" style="margin-bottom: 1rem;">
                                <a href="{{ url_for('lezioni') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">book</i>Lezioni
                                </a>
                            </div>
                            <div class="col s12">
                                <a href="{{ url_for('insegnanti') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">person</i>Insegnanti
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sezione Tirocini -->
            <div class="col s12 m6">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title center-align"><i class="material-icons">work</i> Tirocini</span>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col s12" style="margin-bottom: 1rem;">
                                <a href="{{ url_for('registro_tirocinio_indiretto') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">assignment</i>Tirocinio Indiretto
                                </a>
                            </div>
                            <div class="col s12">
                                <a href="{{ url_for('registro_tirocinio_diretto') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">work</i>Tirocinio Diretto
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sezione Personale -->
            <div class="col s12 m6">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title center-align"><i class="material-icons">people</i> Personale</span>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col s12" style="margin-bottom: 1rem;">
                                <a href="{{ url_for('tutor_coordinatori') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">supervisor_account</i>Tutor Coordinatori
                                </a>
                            </div>
                            <div class="col s12">
                                <a href="{{ url_for('tutor_collaboratori') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">group</i>Tutor Collaboratori
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sezione Strutture -->
            <div class="col s12 m6">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title center-align"><i class="material-icons">domain</i> Strutture</span>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col s12">
                                <a href="{{ url_for('scuole_accreditate') }}" class="btn blue waves-effect waves-light" style="width: 100%;">
                                    <i class="material-icons left">school</i>Scuole Accreditate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}