{% extends "base.html" %}

{% block title %}Lista Insegnanti{% endblock %}

{% block content %}
    <div class="container">
        <div class="right-align" style="margin: 20px 0;">
            <a href="{{ url_for('segreteria') }}" class="btn blue waves-effect waves-light">
                <i class="material-icons left">arrow_back</i>Segreteria
            </a>
            <a href="{{ url_for('add_insegnante') }}" class="btn blue waves-effect waves-light">
                <i class="material-icons left">add</i>Aggiungi
            </a>
        </div>
        <h3 class="center">Lista degli Insegnanti</h3>
        <table class="highlight">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Dipartimento</th>
                    <th>Settore Disciplinare</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for insegnante in insegnanti %}
                <tr>
                    <td>{{ insegnante.id_insegnante }}</td>
                    <td>{{ insegnante.nome }}</td>
                    <td>{{ insegnante.cognome }}</td>
                    <td>{{ insegnante.email }}</td>
                    <td>{{ insegnante.telefono }}</td>
                    <td>{{ insegnante.dipartimento.nome if insegnante.dipartimento else 'N/A' }}</td>
                    <td>{{ insegnante.ssd.nome_ssd if insegnante.ssd else 'N/A' }}</td>
                    <td>
                        <a href="{{ url_for('edit_insegnante', id=insegnante.id_insegnante) }}" class="btn-small blue"><i class="material-icons">edit</i></a>
                        <a href="{{ url_for('delete_insegnante', id=insegnante.id_insegnante) }}" class="btn-small red" onclick="return confirm('Sei sicuro di voler eliminare questo insegnante?')"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}